body {
  background:white;
}
.title {
  color: greenyellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.movies {
  color: black;
  text-align: left;
  width: 50%;
  border : 2px solid;
  /* background: red; */

}

.container {
  width: 500px
}